//_Font:
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

//_Functions:
@import "functions.scss";

//_General styles:
body {
  font-family: "Poppins", sans-serif;
}

[class*="__container"] {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-size: rem(24);
}

.subtitle {
}

//_Import styles:
@import "tab-1.scss";
@import "reset.scss";
