.tab-1 {
  &__container {
  }

  &__title {
  }

  &__subtitle {
  }

  &__body {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px -20px rgba($color: #4f6592, $alpha: 0.4);
    @media (max-width: 600px) {
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    li {
      flex: 1 1 25%;
      display: flex;
    }
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__link {
    width: 100%;
    justify-content: center;
    padding: rem(20) rem(10);
    background-color: #eef2f6;
    text-transform: uppercase;
    transition: all 0.5s;
    @media (max-width: 600px) {
      justify-content: start;
    }

    span {
      font-weight: 700;
    }

    &.active {
      background-color: #ffffff;
    }
  }

  &__content {
  }

  &__item {
  }

  &__title-item {
    display: none;
    text-transform: uppercase;
    margin: 0px 0px rem(10) 0px;
    @media (max-width: 600px) {
      display: block;
    }
  }
}
